<!DOCTYPE html>
<html>
  <head>
    <title>Melp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%if logged_in?%>
    <script type="text/javascript">
      window.currentUser = <%= render('/api/users/user.json.jbuilder',
                                user: current_user).html_safe%>
    </script>
    <%end%>
    <script type="text/javascript">
    window.chinaURL = "<%= image_url('cuisine-china.jpg') %>"
    window.koreaURL = "<%= image_url('cuisine-korea.jpg') %>"
    window.japanURL = "<%= image_url('cuisine-japan.jpg') %>"
    window.footerURL = "<%= image_url('footer-image.png') %>"
    window.logoURL = "<%= image_url('logo.png') %>"
    window.signFormURL = "<%= image_url('sign-form.png') %>"
    window.welcomeURL = "<%= image_url('welcome-img.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
